// =============================================================================
// Breakpoints
// =============================================================================

$fs-tablet-min: 768px !default;
$fs-desktop-min: 992px !default;
$fs-desktop-lg-min: 1400px !default;

$fs-mobile-max: $fs-tablet-min - 1 !default;
$fs-tablet-max: $fs-desktop-min - 1 !default;
$fs-desktop-max: $fs-desktop-lg-min - 1 !default;

$fs-mobile-sm-max: 479px !default;
$fs-tablet-sm-max: 850px !default;



@include add-breakpoint('mobile', 0);
@include add-breakpoint('mobile-ex', max-width $fs-mobile-max);
@include add-breakpoint('mobile-sm', max-width $fs-mobile-sm-max);

@include add-breakpoint('tablet', $fs-tablet-min);
@include add-breakpoint('tablet-ex', $fs-tablet-min $fs-tablet-max);
@include add-breakpoint('tablet-sm', $fs-tablet-min $fs-tablet-sm-max);
@include add-breakpoint('tablet-lg', $fs-tablet-sm-max + 1 $fs-tablet-max);

@include add-breakpoint('desktop', $fs-desktop-min);
@include add-breakpoint('desktop-sm', $fs-desktop-min $fs-desktop-lg-min - 1);
@include add-breakpoint('desktop-lg', $fs-desktop-lg-min);


//base breakpoints for vw/percentage converting (mainly fonts); specify only ones that are different than main breakpoints
$design-breakpoints: () !default;
//example: $design-breakpoints: (mobile: 600px, tablet: 900px);



// =============================================================================
// Fonts
// =============================================================================
$font-sets: (
  sm: (mobile: 14px, tablet: 14px, desktop: 14px),
  md: (mobile: 16px, tablet: 18px, desktop: 16px),
  lg: (mobile: 22px, tablet: 22px, desktop: 22px)
) !default;

//default font set for font-* mixins
$font-set-default: md !default;