// =============================================================================
// Breakpoints
// =============================================================================

$fs-tablet-min: 768px;
$fs-desktop-min: 992px;
$fs-desktop-lg-min: 1200px;

$fs-mobile-max: $fs-tablet-min - 1;
$fs-tablet-max: $fs-desktop-min - 1;
$fs-desktop-max: $fs-desktop-lg-min - 1;

$fs-mobile-sm-max: 479px;
$fs-tablet-sm-max: 850px;



@include add-breakpoint('mobile', 0);
@include add-breakpoint('mobile-ex', max-width $fs-mobile-max);
@include add-breakpoint('mobile-sm', max-width $fs-mobile-sm-max);

@include add-breakpoint('tablet', $fs-tablet-min);
@include add-breakpoint('tablet-ex', $fs-tablet-min $fs-tablet-max);
@include add-breakpoint('tablet-sm', $fs-tablet-min $fs-tablet-sm-max);
@include add-breakpoint('tablet-lg', $fs-tablet-sm-max + 1 $fs-tablet-max);

@include add-breakpoint('desktop', $fs-desktop-min);
@include add-breakpoint('desktop-sm', $fs-desktop-min $fs-desktop-lg-min - 1);
@include add-breakpoint('desktop-lg', $fs-desktop-lg-min);


//base breakpoints for vw/percentage converting (mainly fonts); specify only ones that are different than main breakpoints
$design-breakpoints: ();
//example: $design-breakpoints: (mobile: 600px, tablet: 900px);



// =============================================================================
// Fonts
// =============================================================================
$font-size-mobile: 16px;
$font-size-tablet: 16px;
$font-size-desktop: 16px;

$font-sets: (
	sm: (mobile: 14px, tablet: 14px, desktop: 14px),
	md: (mobile: $font-size-mobile, tablet: $font-size-tablet, desktop: $font-size-desktop),
	lg: (mobile: 22px, tablet: 22px, desktop: 22px)
);

//font face
//@include font-face('font-name', font-files('font.woff', 'font.ttf'), 'font.eot', normal);
