@function breakpoint-px($breakpoint: mobile) {
  @if ($breakpoint == mobile) {
    @return $fs-mobile-max;
  }
  @elseif ($breakpoint == mobile-sm) {
    @return $fs-mobile-sm-max;
  }
  @else if ($breakpoint == tablet) {
    @return $fs-tablet-max;
  }
  @else if ($breakpoint == tablet-sm) {
    @return $fs-tablet-sm-max;
  }
  @else if ($breakpoint == desktop) {
    @return $fs-desktop-min;
  }
}

@function strip-units($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }
  @return $number;
}

@function unit-vw($values, $breakpoint, $useFontBreakpoints: false) {

  $breakpointWidth: $breakpoint;
  @if type-of($breakpoint) == string {
    @if $useFontBreakpoints and map-has-key($font-breakpoints, $breakpoint) {
      $breakpointWidth: map-get($font-breakpoints, $breakpoint);
    }
    @else {
      $breakpointWidth: breakpoint-px($breakpoint);
    }

  }
  $breakpointWidth: strip-units($breakpointWidth);

  $length: length($values);
  $newValues: ();

  @if $length > 0 {
    @each $value in $values {
      $newValue: (strip-units($value) * 100 / $breakpointWidth) * 1vw;
      $newValues: append($newValues, $newValue, space);
    }
  }
  @else {
    $newValues: 0vw;
  }

  @return $newValues;
}

@function unit-percent($values, $breakpoint) {
  $breakpointWidth: $breakpoint;
  @if type-of($breakpoint) == string {
    $breakpointWidth: breakpoint-px($breakpoint);
  }
  $breakpointWidth: strip-units($breakpointWidth);

  $length: length($values);
  $newValues: ();

  @each $value in $values {
    $newValue: percentage((strip-units($value) / $breakpointWidth));
    $newValues: append($newValues, $newValue, space);
  }

  @return $newValues;
}