$fs-tablet-min: 768px;
$fs-desktop-min: 992px;
$fs-desktop-lg-min: 1200px;

$fs-mobile-max: $fs-tablet-min - 1;
$fs-tablet-max: $fs-desktop-min - 1;
$fs-desktop-max: $fs-desktop-lg-min - 1;

$fs-mobile-sm-max: 479px;
$fs-tablet-sm-max: 850px;


@include add-breakpoint('mobile', min-width 0);
@include add-breakpoint('mobile-ex', max-width $fs-mobile-max);
@include add-breakpoint('mobile-sm', max-width $fs-mobile-sm-max);

@include add-breakpoint('tablet', min-width $fs-tablet-min);
@include add-breakpoint('tablet-ex', (min-width $fs-tablet-min, max-width $fs-tablet-max));
@include add-breakpoint('tablet-sm', (min-width $fs-tablet-min, max-width $fs-tablet-sm-max));
@include add-breakpoint('tablet-lg', (min-width ($fs-tablet-sm-max + 1), max-width $fs-tablet-max));

@include add-breakpoint('desktop', (min-width $fs-desktop-min));
@include add-breakpoint('desktop-sm', (min-width $fs-desktop-min, max-width ($fs-desktop-lg-min - 1)));
@include add-breakpoint('desktop-lg', min-width $fs-desktop-lg-min);
